<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="custom.css">
	<title>MK's Fab Website</title>
	<style>
	body {
	background-color: #A2DED0;
}

.jumbotron {
	background-image:url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/seattle-skyline-and-mt-rainier-panoramic-adam-romanowicz.jpg"); 
	padding: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-top: -40px;
	background-attachment: fixed;
	background-position:  center -238px;
}

.jumbotron h1 {
	position: absolute;
	top:18;
	left:0;
	padding-left: 20px;
	color: #F7FAFE;
	font-weight: bold;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}

footer {
	background-color: #D64541;
	position: absolute;
	width: 100%;
	height: auto;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">MK</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="aboutMe.html">About Me</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						My Portfolio
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Marketing</a>
						<a class="dropdown-item" href="#">Programming</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="jumbotron">
		<div class="container for-about">
			<h1 class ="animated fadeInDown">MEET MAHEEN
				<br>
			This website will get better soon.</h1>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card text-center">
					<div class="card-header">
						Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">My One True Love</h5>
						<img src="https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2020/04/3b7241e0a88f99a08830325be9bcc1c8.jpg" class="img-fluid" alt="penguins">
						<p class="card-text">Penguins are my favorite animal. <br> Penguins aren't worried about how this website isn't organized yet.</p>
						<a href="#" class="btn btn-primary">Read more about me!</a>
					</div>
				</div>
			</div>
		</div>
			<div class="container features">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img class="img-fluid" src="https://r-cf.bstatic.com/images/hotel/max1024x768/116/116281457.jpg">
    	    <p>When the roads end, bridges begin.</p>	
    	</div>
    	<div class="col-xs-12 col-sm-4">
    	    <img class="img-fluid" src="https://oceanview4luz.files.wordpress.com/2013/01/sunset-for-front-room-i.jpg">
    	    <p>Don't go down without a bright.</p>
    	</div>
    	<div class="col-xs-12 col-sm-4">
    	    <img class="img-fluid" src="https://goodfoodpittsburgh.com/wp-content/uploads/2019/07/55887713_2112347028802379_3698186078461624320_n.jpg">
    	    <p>Branch out sometimes.</p>
    	</div>
    </div>
</div>
<div class="row">
			<div class="col-md-12">
				<div class="card text-center">
					
<div class="card-footer text-muted">
						2 days ago
					</div>
	</div>
	<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>